p {
	font-family: sans-serif;
}
text {
	font-family: sans-serif;
	font-size: 14px;
}
.tiptext {
    font-size: 14px;
}

.svg-container {
	display: inline-block;
    position: relative;
    /*width: 100%;*/
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.dottooltip {
    position: absolute;
    font-size: 12px;
    width: auto;
    height: auto;
    pointer-events: none;
    background-color: white;
}
